* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 142, 236);
    font: normal 1.4em Arial;
}

header {
    color: white;
    margin: 20px 0px;
    text-align: center;
    text-shadow: 6px 8px 14px rgba(0, 0, 0, 0.199);
}

section {
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

footer {
    color: white;
    text-align: center;
    margin: 20px 0px;
    font-style: italic;
    font-size: .8em;
    text-shadow: 6px 8px 14px rgba(0, 0, 0, 0.199);
}